*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: start;
}
.logo{
    width: 1rem;
    height: 1rem;
    margin-right: 1.5rem;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.card-img{
border-radius: 50%;
padding: 1.5rem;
width: 18rem;
height: 18rem;
}
.card-container{
   border:  1px solid black;
   min-height: 31rem;
   min-width: 18rem;
}
.cardbelow{
    background-color: rgb(216, 208, 197);
}
button{
    margin: 1rem;
}
.ageDate{
    margin-left: 2.5rem;
}
.name{
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
}